body {
  background-color: darkolivegreen;
  color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.title-first-paragraph {
  color: red;
}

#first-id {
  color: purple;
}
.main-title {
  color: yellow;
}
/* # for id tags- for single html elements */
/* . for classes- for multiple html elements */

div {
  background: orangered;
  width: 500px;
}
span {
  color: black;
  font-size: 150%;
}

.top-section {
  background-color: blue;
}

.bottom-section {
  background-color: blueviolet;
}
.outro {
  font-size: 125%;
  font-family: cursive;
}
.highlight {
  color: aqua;
  font-size: 50%;
}
.box {
  color: black;
  background: palevioletred;
  width: 100%;
  margin: 100px;
  border: 10px solid black;
}

h1 {
  font-size: 50px;
  color: orangered;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 0px;




}
